# macOS files
.DS_Store

# Virtual environment folders
venv/
env/

# Python cache files
*.pyc
__pycache__/

# IDE/editor folders
.idea/
.vscode/

# Other common files to ignore (based on your environment)
