body {
    font-family: 'Cinzel', cursive;
    background-image: url(dragon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f0e68c;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 5px #000, 0 0 10px #b8860b;
  }
  



  
  h1 {
    font-size: 3rem;
    margin: 20px;
  }
  
  .container {
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #d4af37;
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
  }
  
  input {
    padding: 10px;
    font-size: 1.2rem;
    width: 70%;
    margin: 10px 0;
    border: 2px solid #d4af37;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #d4af37;
  }
  
  .dragon-name {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .lore {
    margin-top: 15px;
    font-style: italic;
    color: #f0f0f0;
  }
  
  .footer {
    margin-top: 40px;
    font-size: 0.8rem;
    color: #aaa;
  }
  